{% extends "index.html" %}
{% load static %}


{% block body %}
<div class="compras">
    <!-- Seu conteúdo aqui -->
    {% for item in dados_quarto %}
    <div class="compra" style="background-image: url('{{item.foto_quarto.url}}');">
        <div class="fundoTexto">
            <h3>{{item.tipo}}</h3>
            <p>{{item.descricao}}</p>
            <p>{{item.valor}}</p>
        </div>
        <div class="botao-comprar">
            <button>Agendar</button>
        </div>
    </div>
    {% endfor %}
</div>



<script>
    let imagemUrl = document.querySelector('#comprasContainer img').getAttribute('src');

    document.getElementById('comprasContainer').style.backgroundImage = 'url(' + imagemUrl + ')';
</script>
{% endblock %}
